# CHAPTER6: Data Loading, Storage, and File Formats

## 6.1 Reading and Writing Data in Text Format

In [1]:
# menampilkan isi file ex1.csv
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [2]:
# membaca file csv dan menyimpan nya ke DataFrame:

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('examples/ex1.csv')

In [5]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
# load data dengan fungsi read_table ditambah delimiter nya
# misal karena file nya csv delimiter nya comma (,)

In [8]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
# membaca file csv tanpa header karena file csv nya tidak memiliki header

In [10]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
# memberi header sendiri karena tidak memiliki header

In [13]:
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [15]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

You can either indicate you want the column at index 4 or named 'message' using
the index_col argument

In [16]:
names = ['a','b','c','d','message']

In [18]:
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [20]:
!cat examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [21]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1','key2'])

In [22]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In some cases, a table might not have a fixed delimiter, using whitespace or some other pattern to separate fields

In [23]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [24]:
result = pd.read_table('examples/ex3.txt', sep='\s+')

In [25]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [26]:
# skip first, third, and fourth rows of the file with skiprows

In [27]:
!cat examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [28]:
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [29]:
# Handling missing values

In [30]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [31]:
result = pd.read_csv('examples/ex5.csv')

In [32]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [33]:
# NA dan ULL akan diisi NaN

In [34]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [35]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [36]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])

In [37]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [38]:
# sentinels

In [39]:
sentinels = {'message': ['foo','NA'], 'something': ['two']}

In [40]:
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [41]:
# perhatikan word foo dan two akan menjadi NaN

In [42]:
# READING TEXT FILES IN PIECES

In [44]:
# setting pandas display hanya 10 baris
pd.options.display.max_rows = 10

In [45]:
result = pd.read_csv('examples/ex6.csv')

In [46]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [47]:
pd.options.display.max_rows = 6

In [48]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
...        ...       ...       ...       ...  ..
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [49]:
pd.options.display.max_rows = 10

In [50]:
# read a small number of rows

In [51]:
pd.read_csv('examples/ex6.csv', nrows = 6)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q

specify a chunksize as a number of rows <br>
The parameter essentially means the number of rows to be read into a dataframe at any single time in order to fit into the local memory.

In [18]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

In [19]:
chunker

In [20]:
type(chunker)

pandas.io.parsers.TextFileReader

In [21]:
tot = pd.Series([])

/home/unstoppable/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [22]:
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

In [23]:
type(tot)

pandas.core.series.Series

In [24]:
tot = tot.sort_values(ascending=False)

In [25]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [26]:
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
V    328.0
I    327.0
U    326.0
P    324.0
D    320.0
A    320.0
R    318.0
Y    314.0
G    308.0
S    308.0
N    306.0
W    305.0
T    304.0
B    302.0
Z    288.0
C    286.0
4    171.0
6    166.0
7    164.0
8    162.0
3    162.0
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
dtype: float64

In [27]:
# WRITING DATA TO TECT FORMAT

In [28]:
!cat examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [29]:
data = pd.read_csv('examples/ex5.csv')

In [30]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [31]:
data.to_csv('examples/out.csv')

In [32]:
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [33]:
# writing to sys.stdout so it prints the text result to the console

In [34]:
import sys

In [35]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:

In [36]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [37]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

write only a subset of the columns, and in an order of your choosing:

In [38]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series also has to_csv method:

In [39]:
dates = pd.date_range('1/1/2000', periods=7)

In [40]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [2]:
import numpy as np

In [42]:
ts = pd.Series(np.arange(7), index=dates)

In [43]:
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

In [44]:
ts.to_csv('examples/tseries.csv')

In [45]:
!cat examples/tseries.csv

,0
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [46]:
# WORKING WITH DELIMITED FORMATS

In [47]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [48]:
import csv

In [49]:
f = open('examples/ex7.csv')

In [50]:
reader = csv.reader(f)

In [51]:
reader

In [52]:
type(reader)

_csv.reader

In [53]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [54]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [55]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [56]:
header, values = lines[0], lines[1:]

In [57]:
# create dict from list
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [58]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [63]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

In [64]:
f = open('examples/ex7.csv')

In [67]:
reader = csv.reader(f, dialect=my_dialect)

In [68]:
reader

In [66]:
reader = csv.reader(f, delimiter='|')

In [69]:
reader

In [70]:
reader

In [71]:
# write delimited files manually

In [72]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

In [73]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [74]:
#JSON DATA

In [75]:
import json

In [76]:
obj = """
{
    "name": "Wes",
    "places_lived": ["United States", "Spain", "Germany"],
    "pet": null,
    "siblings": [
        {
            "name": "Scott", "age": 30, "pets": ["Zeus","Zuko"]
        },
        {
            "name": "Ketie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]
        }
    ]
}
"""

In [77]:
obj

'\n{\n    "name": "Wes",\n    "places_lived": ["United States", "Spain", "Germany"],\n    "pet": null,\n    "siblings": [\n        {\n            "name": "Scott", "age": 30, "pets": ["Zeus","Zuko"]\n        },\n        {\n            "name": "Ketie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]\n        }\n    ]\n}\n'

In [78]:
# convert a json string to python form
result = json.loads(obj)

In [79]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Ketie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [80]:
# convert a python object to json

In [81]:
asjson = json.dumps(result)

In [82]:
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Ketie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [83]:
# convert a JSON object or list of object to a DataFrame

In [84]:
result['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Ketie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [85]:
siblings = pd.DataFrame(result['siblings'], columns=['name','age'])

In [86]:
siblings

    name  age
0  Scott   30
1  Ketie   38

In [87]:
# Convert JSON datasets in specific arrangements into a Series or DataFrame

In [88]:
!cat examples/examples.json

cat: examples/examples.json: No such file or directory

In [89]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [90]:
data = pd.read_json('examples/example.json')

In [91]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [92]:
# convert data form pandas to JSON

In [93]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [94]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [95]:
# XML AND HTML: WEB SCRAPING

In [99]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')

In [100]:
tables

[                             Bank Name             City  ST   CERT  \
 0                          Allied Bank         Mulberry  AR     91
 1         The Woodbury Banking Company         Woodbury  GA  11297
 2               First CornerStone Bank  King of Prussia  PA  35312
 3                   Trust Company Bank          Memphis  TN   9956
 4           North Milwaukee State Bank        Milwaukee  WI  20364
 ..                                 ...              ...  ..    ...
 542                 Superior Bank, FSB         Hinsdale  IL  32646
 543                Malta National Bank            Malta  OH   6629
 544    First Alliance Bank & Trust Co.       Manchester  NH  34264
 545  National State Bank of Metropolis       Metropolis  IL   3815
 546                   Bank of Honolulu         Honolulu  HI  21029

                    Acquiring Institution        Closing Date  \
 0                           Today's Bank  September 23, 2016
 1                            United Bank     August 19, 2016
 2    First-Citizens Bank & Trust Company         May 6, 2016
 3             The Bank of Fayette County      April 29, 2016
 4    First-Citizens Bank & Trust Company      March 11, 2016
 ..                                   ...                 ...
 542                Superior Federal, FSB       July 27, 2001
 543                    North Valley Bank         May 3, 2001
 544  Southern New Hampshire Bank & Trust    February 2, 2001
 545              Banterra Bank of Marion   December 14, 2000
 546                   Bank of the Orient    October 13, 2000

           Updated Date
 0    November 17, 2016
 1    November 17, 2016
 2    September 6, 2016
 3    September 6, 2016
 4        June 16, 2016
 ..                 ...
 542    August 19, 2014
 543  November 18, 2002
 544  February 18, 2003
 545     March 17, 2005
 546     March 17, 2005

 [547 rows x 7 columns]]

In [102]:
len(tables)

1

In [103]:
failures = tables[0]

In [104]:
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [105]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [106]:
# cleaning and analysis, computing the number of bank failures by year

In [107]:
close_timestamps = pd.to_datetime(failures['Closing Date'])

In [108]:
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [109]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [110]:
# Partisng XML With lxml.objectify

In [111]:
# show an example of how to use lxml to parse data from a more general XML Format

In [113]:
from lxml import objectify

In [114]:
path = 'examples/mta_perf/Performance_MNR.xml'

In [115]:
path

'examples/mta_perf/Performance_MNR.xml'

In [116]:
parsed = objectify.parse(open(path))

In [117]:
parsed

In [118]:
root = parsed.getroot()

In [119]:
root

In [120]:
data = []

In [121]:
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACE']

In [123]:
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [124]:
perf = pd.DataFrame(data)

In [125]:
perf

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,1,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,1,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,1,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,1,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,1,95,96.6,95,95.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,8,Service Indicators,M,%,1,97,,97,
644,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,9,Service Indicators,M,%,1,97,,97,
645,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,10,Service Indicators,M,%,1,97,,97,
646,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,11,Service Indicators,M,%,1,97,,97,
647,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,12,Service Indicators,M,%,1,97,,97,

In [126]:
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,1,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,1,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,1,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,1,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,1,95,96.6,95,95.8

In [127]:
from io import StringIO

In [128]:
tag = '<a href="http://www.google.com">Google</a>'

In [129]:
root = objectify.parse(StringIO(tag)).getroot()

In [130]:
root

In [131]:
root.get('href')

'http://www.google.com'

In [132]:
root.text

'Google'

## 6.2 Binary Data Format

In [3]:
# easiest ways to store data in binary format using Python's built-in pickle serialization

writes the data to disk in pickle format

In [4]:
frame = pd.read_csv('examples/ex1.csv')

In [5]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
frame.to_pickle('examples/frame_pickle')

In [9]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
# Using HDF5 Format

In [13]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [14]:
frame

           a
0  -1.170389
1  -0.940294
2   0.858764
3  -0.058561
4  -0.011372
..       ...
95  0.158907
96  1.222866
97 -0.498532
98 -0.709072
99 -0.741973

[100 rows x 1 columns]

In [15]:
store = pd.HDFStore('mydata.h5')

In [16]:
frame['a']

0    -1.170389
1    -0.940294
2     0.858764
3    -0.058561
4    -0.011372
        ...
95    0.158907
96    1.222866
97   -0.498532
98   -0.709072
99   -0.741973
Name: a, Length: 100, dtype: float64

In [17]:
type(frame)

pandas.core.frame.DataFrame

In [18]:
type(frame['a'])

pandas.core.series.Series

In [19]:
store['obj1'] = frame

In [20]:
store['obj1_col'] = frame['a']

In [21]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [22]:
store['obj1']

           a
0  -1.170389
1  -0.940294
2   0.858764
3  -0.058561
4  -0.011372
..       ...
95  0.158907
96  1.222866
97 -0.498532
98 -0.709072
99 -0.741973

[100 rows x 1 columns]

In [23]:
store['obj1_col']

0    -1.170389
1    -0.940294
2     0.858764
3    -0.058561
4    -0.011372
        ...
95    0.158907
96    1.222866
97   -0.498532
98   -0.709072
99   -0.741973
Name: a, Length: 100, dtype: float64

In [24]:
# HDF5Store support two storage schemas: 'fixed' and 'table'

In [25]:
store.put('obj2', frame, format='table')

In [26]:
store['obj2']

           a
0  -1.170389
1  -0.940294
2   0.858764
3  -0.058561
4  -0.011372
..       ...
95  0.158907
96  1.222866
97 -0.498532
98 -0.709072
99 -0.741973

[100 rows x 1 columns]

In [27]:
type(store['obj2'])

pandas.core.frame.DataFrame

In [28]:
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10  0.986263
11  1.189086
12  0.462015
13 -0.800876
14 -1.652308
15  0.678156

In [29]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [31]:
# READING MICROSOFT EXCEL FILE

In [32]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [33]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [34]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')

In [35]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [36]:
# write pandas data to excel format

In [37]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

In [38]:
frame.to_excel(writer, 'Sheet1')

In [40]:
writer.save()

In [41]:
frame.to_excel('examples/ex2.xlsx')

In [42]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [43]:
pd.read_excel('examples/ex2.xlsx', 'Sheet1')

   Unnamed: 0  Unnamed: 0.1  a   b   c   d message
0           0             0  1   2   3   4   hello
1           1             1  5   6   7   8   world
2           2             2  9  10  11  12     foo

## 6.3 Interating with Web APIs

In [45]:
import requests

In [46]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [47]:
resp = requests.get(url)

In [48]:
resp

The Response object's json method will return a dictionary containing JSON parsed into native Python obects:

In [49]:
data = resp.json()

In [50]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36144',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36144/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36144/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36144/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36144',
  'id': 694103540,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNTMyNjUw',
  'number': 36144,
  'title': 'STY+CI: check for private function access across modules',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-09-05T15:03:38Z',
  'updated_at': '2020-09-05T15:03:38Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36144',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36144',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36144.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36144.patch'},
  'body': 'The added checks here are broken off from #36055.',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36143',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36143/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36143/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36143/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36143',
  'id': 694102873,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNTMyMTQ0',
  'number': 36143,
  'title': 'CLN: unused case in compare_or_regex_search',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-09-05T15:00:00Z',
  'updated_at': '2020-09-05T15:00:00Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36143',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36143',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36143.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36143.patch'},
  'body': '\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36142',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36142/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36142/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36142/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36142',
  'id': 694102822,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNTMyMTA4',
  'number': 36142,
  'title': 'Arrow string array dtype',
  'user': {'login': 'TomAugspurger',
   'id': 1312546,
   'node_id': 'MDQ6VXNlcjEzMTI1NDY=',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/1312546?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/TomAugspurger',
   'html_url': 'https://github.com/TomAugspurger',
   'followers_url': 'https://api.github.com/users/TomAugspurger/followers',
   'following_url': 'https://api.github.com/users/TomAugspurger/following{/other_user}',
   'gists_url': 'https://api.github.com/users/TomAugspurger/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/TomAugspurger/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/TomAugspurger/subscriptions',
   'organizations_url': 'https://api.github.com/users/TomAugspurger/orgs',
   'repos_url': 'https://api.github.com/users/TomAugspurger/repos',
   'events_url': 'https://api.github.com/users/TomAugspurger/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/TomAugspurger/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-09-05T14:59:38Z',
  'updated_at': '2020-09-05T14:59:52Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36142',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36142',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36142.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36142.patch'},
  'body': 'This is a continuation of https://github.com/pandas-dev/pandas/pull/35259, updated to use a single `StringDtype` parameterized by `storage` (python or pyarrow). We do use different classes for the array though.\r\n\r\nI wouldn\'t recommend reviewing this yet. In particular, I need to refactor the string ops implementation. That will likely be done in a separate PR to keep things smaller here.\r\n\r\n```python\r\nIn [1]: import pandas as pd\r\n\r\nIn [2]: a = pd.Series(pd.array([pd.NA, pd.NA], dtype=pd.StringDtype("python")))\r\n\r\nIn [3]: b = pd.Series(pd.array([pd.NA, pd.NA], dtype=pd.StringDtype("pyarrow")))\r\n\r\nIn [4]: a.array\r\nOut[4]:\r\n<StringArray>\r\n[<NA>, <NA>]\r\nLength: 2, dtype: StringDtype[python]\r\n\r\nIn [5]: b.array\r\nOut[5]:\r\n<ArrowStringArray>\r\n[<NA>, <NA>]\r\nLength: 2, dtype: StringDtype[pyarrow]\r\n```\r\n\r\nCloses https://github.com/pandas-dev/pandas/issues/35169',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36141',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36141/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36141/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36141/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36141',
  'id': 694102668,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNTMxOTgz',
  'number': 36141,
  'title': 'BUG: copying series into empty dataframe does not preserve dataframe index name',
  'user': {'login': 'Dr-Irv',
   'id': 15113894,
   'node_id': 'MDQ6VXNlcjE1MTEzODk0',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/15113894?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/Dr-Irv',
   'html_url': 'https://github.com/Dr-Irv',
   'followers_url': 'https://api.github.com/users/Dr-Irv/followers',
   'following_url': 'https://api.github.com/users/Dr-Irv/following{/other_user}',
   'gists_url': 'https://api.github.com/users/Dr-Irv/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/Dr-Irv/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/Dr-Irv/subscriptions',
   'organizations_url': 'https://api.github.com/users/Dr-Irv/orgs',
   'repos_url': 'https://api.github.com/users/Dr-Irv/repos',
   'events_url': 'https://api.github.com/users/Dr-Irv/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/Dr-Irv/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-09-05T14:58:57Z',
  'updated_at': '2020-09-05T14:58:57Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36141',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36141',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36141.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36141.patch'},
  'body': '- [x] closes #31368\r\n- [x] tests added / passed\r\n   `indexing/test_partial.py:TestPartialSetting:test_index_name_empty`\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [x] whatsnew entry\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36138',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36138/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36138/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36138/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36138',
  'id': 694087204,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNTIwMzk4',
  'number': 36138,
  'title': 'TYP: misc property return types',
  'user': {'login': 'simonjayhawkins',
   'id': 13159005,
   'node_id': 'MDQ6VXNlcjEzMTU5MDA1',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/13159005?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/simonjayhawkins',
   'html_url': 'https://github.com/simonjayhawkins',
   'followers_url': 'https://api.github.com/users/simonjayhawkins/followers',
   'following_url': 'https://api.github.com/users/simonjayhawkins/following{/other_user}',
   'gists_url': 'https://api.github.com/users/simonjayhawkins/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/simonjayhawkins/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/simonjayhawkins/subscriptions',
   'organizations_url': 'https://api.github.com/users/simonjayhawkins/orgs',
   'repos_url': 'https://api.github.com/users/simonjayhawkins/repos',
   'events_url': 'https://api.github.com/users/simonjayhawkins/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/simonjayhawkins/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1280988427,
    'node_id': 'MDU6TGFiZWwxMjgwOTg4NDI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Typing',
    'name': 'Typing',
    'color': 'ea91a4',
    'default': False,
    'description': 'mypy type annotations'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-09-05T13:33:15Z',
  'updated_at': '2020-09-05T14:54:03Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36138',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36138',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36138.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36138.patch'},
  'body': '',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36136',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36136/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36136/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36136/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36136',
  'id': 694062666,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNTAxODMy',
  'number': 36136,
  'title': 'API: Make ExtensionDtype.construct_array_type a method',
  'user': {'login': 'TomAugspurger',
   'id': 1312546,
   'node_id': 'MDQ6VXNlcjEzMTI1NDY=',
   'avatar_url': 'https://avatars3.githubusercontent.com/u/1312546?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/TomAugspurger',
   'html_url': 'https://github.com/TomAugspurger',
   'followers_url': 'https://api.github.com/users/TomAugspurger/followers',
   'following_url': 'https://api.github.com/users/TomAugspurger/following{/other_user}',
   'gists_url': 'https://api.github.com/users/TomAugspurger/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/TomAugspurger/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/TomAugspurger/subscriptions',
   'organizations_url': 'https://api.github.com/users/TomAugspurger/orgs',
   'repos_url': 'https://api.github.com/users/TomAugspurger/repos',
   'events_url': 'https://api.github.com/users/TomAugspurger/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/TomAugspurger/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 35818298,
    'node_id': 'MDU6TGFiZWwzNTgxODI5OA==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design',
    'name': 'API Design',
    'color': 'AD7FA8',
    'default': False,
    'description': None},
   {'id': 849023693,
    'node_id': 'MDU6TGFiZWw4NDkwMjM2OTM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ExtensionArray',
    'name': 'ExtensionArray',
    'color': '6138b5',
    'default': False,
    'description': 'Extending pandas with custom dtypes or arrays.'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/73',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/73',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/73/labels',
   'id': 5479819,
   'node_id': 'MDk6TWlsZXN0b25lNTQ3OTgxOQ==',
   'number': 73,
   'title': '1.2',
   'description': '',
   'creator': {'login': 'jreback',
    'id': 953992,
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jreback',
    'html_url': 'https://github.com/jreback',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 48,
   'closed_issues': 287,
   'state': 'open',
   'created_at': '2020-05-29T23:47:32Z',
   'updated_at': '2020-09-05T15:03:55Z',
   'due_on': '2020-11-29T08:00:00Z',
   'closed_at': None},
  'comments': 4,
  'created_at': '2020-09-05T11:10:53Z',
  'updated_at': '2020-09-05T14:57:32Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/36136',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/36136',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/36136.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/36136.patch'},
  'body': 'This allows a single dtype to support multiple array classes.\r\nFor arrow-backed strings, we\'ll likely want a separate array class\r\nfor ease of implementation, clarity. But we\'ll have a parametrized\r\ndtype.\r\n\r\n```python\r\nclass StringDtype:\r\n    def __init__(self, storage="python"):\r\n        self.storage = storage\r\n\r\n    def construct_array_type(self):  # regular method\r\n        if self.storage == "python":\r\n            return StringArray\r\n        else:\r\n            return ArrowStringArray\r\n```\r\n\r\nCloses #36126',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36134',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36134/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36134/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/36134/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/36134',
  'id': 693974714,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NDgwNDMwMDYy',
  'number': 36134,
  'title': 'BUG: shows correct package name when import_optional_dependency is ca…',
  'user': {'login': 'hs2361',
   'id': 51477130,
   'node_id': 'MDQ6VXNlcjUxNDc3MTMw',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/51477130?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/hs2361',
   'html_url': 'https://github.com/hs2361',
   'followers_url': 'https://api.github.com/users/hs2361/followers',
   'following_url': 'https://api.github.com/users/hs2361/following{/other_user}',
   'gists_url': 'https://api.github.com/users/hs2361/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/hs2361/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/hs2361/subscriptions',
   'organizations_url': 'https://api.github.com/users/hs2361/orgs',
   'repos_url': 'https://api.github.com/users/hs2361/repos',
   'events_url': 'https://api.github.com/users/hs2361/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/hs2361/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 129350,
    'node_id': 'MDU6TGFiZWwxMjkzNTA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Build',
    'name': 'Build',
    'color': '75507B',
    'default': False,
    'description': 'Library building on various platforms'},
   {'id': 42670965,

In [51]:
data[0]['title']

'STY+CI: check for private function access across modules'

We can pass data directly to DataFrame and extract fields of interest

In [52]:
issues = pd.DataFrame(data, columns=['number','title','labels','state'])

In [53]:
issues

,number,title,labels,state
0,36144,STY+CI: check for private function access acro...,[],open
1,36143,CLN: unused case in compare_or_regex_search,[],open
2,36142,Arrow string array dtype,[],open
3,36141,BUG: copying series into empty dataframe does ...,[],open
4,36138,TYP: misc property return types,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
5,36136,API: Make ExtensionDtype.construct_array_type ...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
6,36134,BUG: shows correct package name when import_op...,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
7,36133,WIP/DEPR: DataFrame reductions match Series be...,[],open
8,36132,updated fixed indexer to work with rolling df ...,"[{'id': 1045950827, 'node_id': 'MDU6TGFiZWwxMD...",open
9,36131,BUG: Timestamp == date match stdlib,[],open
10,36126,Make ExtensionDtype.construct_array_type a reg...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
11,36124,ENH: Display IntEnums by name rather then value,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,36123,BUG: GroupBy.mean() is extremely slow with spa...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,36122,Regression in pandas/io/excel/_odfreader.py (...,[],open
14,36115,REGR: append tz-aware DataFrame with tz-naive ...,"[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
15,36113,BUG: pandas.DataFrame().stack() raise an error...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,36111,BUG: read_csv with custom date parser and na_f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,36106,BUG: DataFrame.any with axis=1 and bool_only=True,[],open
18,36105,DEPR: making copies when indexing along columns,[],open
19,36103,QST: Why does Pandas change data type from obj...,"[{'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0...",open
20,36102,TYP: misc fixes for numpy types 4,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
21,36100,TYP: misc fixes for numpy types 3,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
22,36097,Center window,[],open
23,36096,Improve `OverflowError` message when `pandas.r...,"[{'id': 104865385, 'node_id': 'MDU6TGFiZWwxMDQ...",open
24,36094,BUG: extra leading space in to_string when ind...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,36092,CI: type checking with np-dev,"[{'id': 1280988427, 'node_id': 'MDU6TGFiZWwxMj...",open
26,36081,BUG: Unary pos/neg ops on IntegerArrays failin...,[],open
27,36080,BUG: add py39 compat check for ast.slice #32766,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
28,36078,BUG: Unary pos/neg ops on IntegerArrays failin...,[],open
29,36076,BUG: ser.to_frame().all() inconsistent with se...,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open

## 6.4 Interacting with Databases

In [54]:
#create sqlite databases
import sqlite3

In [55]:
query = """
CREATE TABLE test(
a VARCHAR(20),
b VARCHAR(20),
c REAL,
d INTEGER
);
"""

In [56]:
con = sqlite3.connect('mydata.sqlite')

In [57]:
con.execute(query)

In [58]:
con.commit()

In [59]:
# insert few rows of data

In [60]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee','Florida', 2.6, 3),
        ('Secramento','California', 1.7, 5)
       ]

In [61]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [62]:
con.executemany(stmt, data)

In [63]:
con.commit()

In [64]:
cursor = con.execute('select * from test')

In [65]:
cursor

In [66]:
rows = cursor.fetchall()

In [67]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Secramento', 'California', 1.7, 5)]

In [68]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [69]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Secramento  California  1.70  5

In [70]:
# connect to the same SQLite database with SQLALchemy and read data from the table created before

In [72]:
import sqlalchemy as sqla

In [74]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [75]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Secramento  California  1.70  5