# CHAPTER 3: Built-in Data Structures, Functions, and Files

## 3.1 Data Structures and Sequences

In [1]:
# TUPPLE

In [3]:
tup = 4, 5, 6

In [4]:
tup

(4, 5, 6)

In [5]:
nested_tup = (4,5,6),(7,8)

In [6]:
nested_tup

((4, 5, 6), (7, 8))

In [7]:
tuple([4,0,2])

(4, 0, 2)

In [8]:
tup = tuple('string')

In [9]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
tup[0]

's'

In [15]:
tup = tuple(['foo',[1,2], True])

In [16]:
tup[1].append(3)

In [17]:
tup

('foo', [1, 2, 3], True)

In [18]:
(4, None, 'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [19]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [20]:
tup = (4,5,6)

In [21]:
a, b, c = tup

In [22]:
b

5

In [23]:
tup = 4, 5, (6, 7)

In [24]:
a, b, (c, d) = tup

In [25]:
d

7

In [26]:
seq = [(1,2,3),(4,5,6),(7,8,9)]

In [27]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [28]:
values = 1, 2, 3, 4, 5

In [29]:
values

(1, 2, 3, 4, 5)

In [31]:
a, b, *rest = values

In [32]:
a, b

(1, 2)

In [33]:
rest

[3, 4, 5]

In [34]:
a = (1, 2, 2, 2, 3, 4, 2)

In [35]:
a.count(2)

4

In [36]:
# LIST

In [37]:
a_list = [2, 3, 7, None]

In [38]:
tup = ('foo','bar','baz')

In [40]:
b_list = list(tup)

In [41]:
b_list

['foo', 'bar', 'baz']

In [42]:
b_list[1] = 'peekaboo'

In [43]:
b_list

['foo', 'peekaboo', 'baz']

In [44]:
gen = range(10)

In [45]:
gen

range(0, 10)

In [46]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
b_list.append('dwarf')

In [48]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [49]:
b_list.insert(1, 'red')

In [50]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [51]:
b_list.pop(2)

'peekaboo'

In [52]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [53]:
b_list.append('foo')

In [54]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [55]:
b_list.remove('foo')

In [56]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [57]:
# Concatenating and combining list, lebih preferable menggunakan extend

In [58]:
[4, None, 'foo']+[7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [59]:
x = [4, None, 'foo']

In [60]:
x.extend([7, 8, (2, 3)])

In [61]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [63]:
# everything = []
# for chunk in list_of_lists:
#     everythin.extend(chunk)

Lebih cepat dari

In [64]:
# everything = []
# for chunk in list_of_lists:
#     everything = everything + chunk

In [65]:
# SORTING

In [66]:
a = [7, 2, 5, 1, 3]

In [67]:
a.sort()

In [68]:
a

[1, 2, 3, 5, 7]

In [69]:
b = ['saw','small','He','foxes','six']

In [70]:
b.sort(key=len)

In [71]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [72]:
# SLICING

In [73]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [74]:
seq[1:5]

[2, 3, 7, 5]

In [75]:
seq[3:4] = [6, 3]

In [76]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [77]:
seq[:5]

[7, 2, 3, 6, 3]

In [78]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [79]:
seq[-4:]

[5, 6, 0, 1]

In [80]:
seq[-6:-2]

[6, 3, 5, 6]

In [81]:
# Step
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [82]:
seq[::2]

[7, 3, 3, 6, 1]

In [83]:
# reverse
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [84]:
# Built-in Sequence Funtions

In [85]:
# 1. Enumerate

In [86]:
some_list = ['foo','bar','baz']

In [87]:
mapping = {}

In [88]:
for i, v in enumerate(some_list):
    mapping[v]=i

In [89]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [90]:
# 2. Sorted

In [91]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [92]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [94]:
# 3. Zip "pairs"

In [95]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']

In [96]:
zipped = zip(seq1, seq2)

In [97]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [98]:
seq3 = [False, True]

In [99]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [100]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [101]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clements'), ('Schilling','Curt')]

In [103]:
first_names, last_names = zip(*pitchers)

In [104]:
first_names

('Nolan', 'Roger', 'Schilling')

In [105]:
last_names

('Ryan', 'Clements', 'Curt')

In [106]:
# 4. Reversed

In [107]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [108]:
# DICT

In [109]:
empty_dict = {}

In [110]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [112]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [113]:
d1[7] = 'an integer'

In [114]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [116]:
d1['b']

[1, 2, 3, 4]

In [117]:
'b' in d1

True

In [118]:
# delete values

In [119]:
d1[5] = 'some value'

In [120]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [121]:
d1['dummy'] = 'another value'

In [122]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [123]:
del d1[5]

In [124]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [125]:
ret = d1.pop('dummy')

In [126]:
ret

'another value'

In [127]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [128]:
list(d1.keys())

['a', 'b', 7]

In [129]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [130]:
# merge and update
d1.update({'b': 'foo', 'c': 12})

In [131]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [132]:
# Creating dicts from sequences
mapping = dict(zip(range(5), reversed(range(5))))

In [133]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [135]:
# Default values

In [136]:
words = ['apple','bat','bar','atom','book']

In [137]:
by_letter = {}

In [138]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [139]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [140]:
# Valid dict key types

In [141]:
hash('string')

-1820077660447827276

In [142]:
hash((1, 2, (2, 3)))

1097636502276347782

In [143]:
d = {}

In [144]:
d[tuple([1, 2, 3])] = 5

In [145]:
d

{(1, 2, 3): 5}

In [146]:
# SET

In [147]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [148]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [149]:
a = {1, 2, 3, 4, 5}

In [150]:
b = {3, 4, 5, 6, 7, 8}

In [151]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [152]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [153]:
a.intersection(b)

{3, 4, 5}

In [154]:
a & b

{3, 4, 5}

In [155]:
a

{1, 2, 3, 4, 5}

In [156]:
c = a.copy()

In [157]:
c

{1, 2, 3, 4, 5}

In [158]:
b

{3, 4, 5, 6, 7, 8}

In [159]:
c |= b

In [160]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [161]:
d = a.copy()

In [162]:
d &= b

In [163]:
d

{3, 4, 5}

In [164]:
my_data = [1, 2, 3, 4]

In [166]:
my_set = {tuple(my_data)}

In [167]:
my_set

{(1, 2, 3, 4)}

In [168]:
a_set = {1, 2, 3, 4, 5}

In [169]:
{1, 2, 3}.issubset(a_set)

True

In [170]:
a_set.issuperset({1, 2, 3})

True

In [171]:
{1, 2, 3} == {3, 2, 1}

True

In [172]:
# LIST, SET, DICT COMPREHENSIONS

In [173]:
strings = ['a','as','bat','car','dove','python']

In [175]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [176]:
unique_lengths = {len(x) for x in strings}

In [177]:
unique_lengths

{1, 2, 3, 4, 6}

In [178]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [179]:
loc_mapping = {val : index for index, val in enumerate(strings)}

In [180]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [181]:
all_data = [['John','Emily','Michael','Mary','Steven'],['Maria','Juan','Javier','Natalia','Pilar']]

In [182]:
all_data

[['John', 'Emily', 'Michael', 'Mary', 'Steven'],
 ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [183]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [184]:
names_of_interest

['Steven']

In [185]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [186]:
result

['Steven']

In [187]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [188]:
flattened = [x for tup in some_tuples for x in tup]

In [189]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [190]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 Functions

In [191]:
# NAMESPACE, SCOPE, LOCAL FUNCTIONS

In [192]:
def func():
    a = []
    for i in range(5):
        a.append(i)
func()

In [193]:
a

{1, 2, 3, 4, 5}

In [194]:
a = None

In [195]:
def bind_a_variable():
    global a
    a = []

In [196]:
bind_a_variable()

In [198]:
a

[]

In [199]:
# RETURNING MULTIPLE VALUES

In [200]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [201]:
return_value = f()

In [202]:
return_value

(5, 6, 7)

In [203]:
b

{3, 4, 5, 6, 7, 8}

In [204]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [205]:
a, b, c = f()

In [206]:
b

6

In [207]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b, 'c': c}

In [208]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [209]:
# FUNCTIONS ARE OBJECTS

In [210]:
states = ['   Albama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [211]:
import re

In [214]:
# Fungsi Clean String
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [215]:
clean_strings(states)

['Albama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [216]:
# Alternative approach for clean string
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [217]:
clean_strings(states, clean_ops)

['Albama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [218]:
for x in map(remove_punctuation, states):
    print(x)

   Albama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [219]:
# ANONYMOUS (LAMBDA) FUNCTIONS

In [220]:
# there are many cases where data
# transformation functions will take functions as arguments

In [221]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [222]:
ints = [4, 0, 1, 5, 6]

In [223]:
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [224]:
list('foo')

['f', 'o', 'o']

In [225]:
set(list('foo'))

{'f', 'o'}

In [226]:
len(set(list('aaaa')))

1

In [227]:
len(set(list('abab')))

2

In [228]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [229]:
strings.sort()

In [230]:
strings

['aaaa', 'abab', 'bar', 'card', 'foo']

In [231]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [232]:
strings.sort(key=lambda x: len(set(list(x))))

In [233]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [234]:
# CURRYING: PARTIAL ARGUMENT APPLICATION

In [235]:
def add_numbers(x, y):
    return x + y

In [236]:
add_five = lambda y: add_numbers(5, y)

In [237]:
add_five(7)

12

In [238]:
add_five(5)

10

In [239]:
# Alternative, using partial
from functools import partial
add_five = partial(add_numbers, 5)

In [240]:
add_five(3)

8

In [241]:
# GENERATORS

In [242]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [243]:
for key in some_dict:
    print(key)

a
b
c

In [245]:
dict_iterator = iter(some_dict)

In [246]:
dict_iterator

In [247]:
list(dict_iterator)

['a', 'b', 'c']

In [248]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i ** 2

In [249]:
gen = squares()

In [250]:
gen

In [251]:
for x in gen:
    print(x, end=', ')

Generating squares from 1 to 100
1, 4, 9, 16, 25, 36, 49, 64, 81, 100,

In [252]:
# Generator expression

In [253]:
gen = (x ** 2 for x in range(100))

In [254]:
gen

In [255]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [257]:
for x in gen:
    print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801

In [258]:
sum(x ** 2 for x in range(100))

328350

In [259]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [260]:
# Itertools module

In [261]:
import itertools

In [262]:
first_letter = lambda x: x[0]

In [263]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [264]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [265]:
# ERRORS AND EXCEPTION HANDLING

In [266]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [267]:
attempt_float('1.2345')

1.2345

In [268]:
attempt_float('something')

'something'

## 3.3 Files and the Operating System

In [269]:
path = 'examples/segismundo.txt'

In [270]:
f = open(path)

In [271]:
for line in f:
    pass

In [273]:
lines = [x.rstrip() for x in open(path)]

In [274]:
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [275]:
lines[0]

'Suea el rico en su riqueza,'

In [276]:
# When you use open to create file objects, it is important to explicitly close the file
# when you are finished with it. Closing the file releases its resources back to the operating system:
f.close()

In [277]:
# alternative
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [278]:
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [280]:
f = open(path)

In [281]:
f.read(10)

'Suea el r'

In [282]:
f2 = open(path, 'rb') # Binary mode

In [283]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [284]:
f.close()
f2.close()

In [285]:
# Write text to a file

In [286]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [287]:
with open('tmp.txt') as f:
    lines = f.readlines()

In [288]:
lines

['Suea el rico en su riqueza,\n',
 'que ms cuidados le ofrece;\n',
 'suea el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'suea el que a medrar empieza,\n',
 'suea el que afana y pretende,\n',
 'suea el que agravia y ofende,\n',
 'y en el mundo, en conclusin,\n',
 'todos suean lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [289]:
# BYTES AND UNICODE WITH FILES

In [290]:
with open(path) as f:
    chars = f.read(10)

In [291]:
chars

'Suea el r'

In [292]:
with open(path, 'rb') as f:
    data = f.read(10)

In [293]:
data

b'Sue\xc3\xb1a el '

In [295]:
data.decode('utf8')

'Suea el '

In [296]:
sink_path = 'sink.txt'

In [297]:
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

In [298]:
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Suea el r

In [299]:
f.close()